@mixin pageStyle {
    width: 100%;
    height: fit-content;
    background: var(--color-light);
}

@mixin mainBg {
    width: 100% !important;
    height: 100%;
    min-height: 100vh;
    object-fit: cover;
    @media (max-width: 768px) {
        min-height: 350px !important;
        height: 60vh !important;
    }
}

@mixin mainTextBlock {
    position: absolute;
    width: auto;
    min-width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    h1, p, button, .titleBlock{
        position: relative;
        top: 15%;
    }
}

@mixin mainTitle {
    color: var(--color-white);
    font-family: var(--font-family-grot-bold);
    font-size: clamp(30px, 8vw, 8rem);
    font-weight: 420;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;

}

@mixin alignPath {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    position: absolute;
    top: 12%;
    left: 12%;
    z-index: 4;
     @media (max-width: 768px) {
        top: 20%;
        left: 15%;
    }
}

@mixin pathText {
    color: var(--color-white);
    text-align: center;
    font-family: var(--font-text-reg);
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
   
}

@mixin mainDescription {
    color: var(--color-white);
    font-family: var(--font-text-reg);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

@mixin text($color, $size, $transform, $weight) {
    color: $color;
    font-family: var(--font-text-reg);
    font-size: $size;
    font-style: normal;
    font-weight: $weight;
    line-height: 150%; /* 24px */
    text-transform: $transform;
}

@mixin blockStyles {
    padding: clamp(20px, 5vw, 60px);
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: clamp(10px, 5vw, 40px);

}

@mixin blockMargin {
    margin: clamp(10px, 5vw, 40px);
}

@mixin cardStyles {
    padding: 20px;
    border-bottom: 1px solid var(--color-light-grey);
    background: var(--color-white);
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
