@mixin pageStyle {
    width: 100%;
    height: fit-content;
    background: var(--color-light);
}

@mixin mainBg {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    object-fit: cover;
}

@mixin mainTextBlock {
    position: absolute;
    bottom: 10%;
    left: 10%;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@mixin mainTitle {
    color: var(--color-white);
    font-family: var(--font-grot-reg);
    font-size: clamp(30px, 8vw, 60px);
    font-weight: 420;
    line-height: 100%;
    text-transform: uppercase;
}

@mixin alignPath {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    position: relative;
    z-index: 4;
}

@mixin pathText {
    color: var(--color-white);
    text-align: center;
    font-family: var(--font-text-reg);
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
}

@mixin mainDescription {
    color: var(--color-white);
    font-family: var(--font-text-reg);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

@mixin text($color, $size, $transform, $weight) {
    color: $color;
    font-family: var(--font-text-reg);
    font-size: $size;
    font-style: normal;
    font-weight: $weight;
    line-height: 150%; /* 24px */
    text-transform: $transform;
}