@mixin pageStyle {
    width: 100%;
    height: fit-content;
    background: var(--color-light);
}

@mixin mainBg {
    width: 100% !important;
    height: 100%;
    min-height: 100vh;
    object-fit: cover;
    @media (max-width: 768px) {
        min-height: 350px !important;
        height: 60vh !important;
    }
}

@mixin gradientBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:
  linear-gradient(190deg, rgba(0, 0, 0, 0) 0%,
  rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.9) 100%);
  z-index: 1;
}

@mixin mainTextBlock {
    position: absolute;
    width: auto;
    min-width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    h1, p, button, .titleBlock{
        position: relative;
        top: 15%;
    }
    p{
        max-width: 85% !important;
    }
}

@mixin mainTitle {
    color: var(--color-white);
    font-family: var(--font-family-grot-bold);
    font-size: clamp(30px, 8vw, 8rem);
    font-weight: 420;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;

}

@mixin alignPath {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: clamp(5px, 2vw, 10px);
    align-items: center;
    position: absolute;
    bottom: 5%;
    left: 5%;
    z-index: 4;
    a, span{
      color: var(--color-white);
      text-align: center;
      font-family: var(--font-text-reg);
      font-size: 14px;
      font-weight: 700;
      line-height: 150%;
      text-transform: uppercase;
      white-space: nowrap;
    }
    a{
      text-decoration: none;
      cursor: pointer;
    }
    
}

@mixin pathText {
    color: var(--color-white);
    text-align: center;
    font-family: var(--font-text-reg);
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
   
}

@mixin mainDescription {
    color: var(--color-white);
    font-family: var(--font-text-reg);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

@mixin text($color, $size, $transform, $weight) {
    color: $color;
    font-family: var(--font-text-reg);
    font-size: $size;
    font-style: normal;
    font-weight: $weight;
    line-height: 150%; /* 24px */
    text-transform: $transform;
}

@mixin blockStyles {
    padding: clamp(20px, 5vw, 60px);
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: clamp(10px, 5vw, 40px);

}

@mixin blockMargin {
    margin: clamp(10px, 5vw, 40px);
}

@mixin cardStyles {
    padding: 20px;
    border-bottom: 1px solid var(--color-light-grey);
    background: var(--color-white);
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

@mixin defaultBlock {
    .defaultBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background: rgba(255, 255, 255, 0.02);
        overflow: hidden;

        @media (min-width: 1024px) {
          flex-direction: row;
          justify-content: space-between;
          gap: clamp(20px, 2vw, 50px);
        }

        .description {
          position: relative;
          margin-block: 15px;
          flex: 0 0 100%;
          max-width: 100%;

          @media (min-width: 1024px) {
            flex: 0 0 50%;
            max-width: 50%;
          }

          .topBlock {
            &::before {
              content: "";
              width: 79px;
              height: 1px;
              display: inline-block;
              background-color: var(--color-gold);
              vertical-align: middle;
              top: -2px;
              margin-bottom: 1px;
              margin-right: 18px;
            }
          }

          span {
            @include text(var(--color-gold), 14px, uppercase, 700);
            position: relative;
            // bottom: 15px;
          }

          h2 {
            margin-top: 15px;
            @include text(var(--color-textGrey), clamp(20px, 4vw, 48px), uppercase, 500);

          }
          .colorText {
              font-size: 24px;
              color: var(--color-gold);

              @media (min-width: 768px) {
                font-size: 42px;
              }

              &::before {
                display: none;
              }
            }

          p {
            @include text(var(--color-textGrey), 16px, none, 400);
            margin-top: 10px;

            @media (min-width: 1024px) {
              font-size: 20px;
              max-width: 70%;
            }
          }
          .buttonGroup{
            display: flex;
            justify-content: start;
            align-items: center;
            padding-top: 15px;
            gap: 15px;
          }
        }
        .swiper {
                  width: 100%;
                  flex: 0 0 100%;
                  max-width: 100%;
                  height: auto;
        
                  @media (min-width: 1024px) {
                    flex: 0 0 50%;
                    max-width: 40%;
                  }
        
                  .swiper-slide {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    width: 100%;
                    height: 100%;
        
                    img {
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                      transition: all ease 0.5s;
                      transform: scale(1);
        
                      &:hover {
                        transform: scale(1.1);
                        transition: all ease 0.5s;
                      }
                    }
                  }
        
                  .buttonWrapper {
                    position: absolute;
                    bottom: 0;
                    right: 10%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: clamp(140px, 30%, 200px);
                    height: clamp(40px, 5vw, 50px);
                    background: rgba(0, 0, 0, 0.7);
                    z-index: 10;
        
                    .swiper-button-prev,
                    .swiper-button-next {
                      flex: 1;
                      border-radius: 50%;
                      svg {
                        stroke: var(--color-gold);
                      }
        
                      &::after {
                        content: "";
                      }
                    }
                    .info{
                        @include text(var(--color-gold), 16px, uppercase, 700);
                        line-height: 1.1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                    }
                    @media (max-width: 450px) {
                      width: 100%;
                      left: 0;
                    }
                  }
                }
        
                .roomImg {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
        
                  @media (min-width: 768px) {
                    flex: 0 0 50%;
                  }
                }
        @media (max-width: 768px) {
          img{
            max-width: 100%;
          }
        }
      }
}

@mixin modalBlock{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    .ModalWrapper {
      position: relative;
      width: clamp(290px, 75vw, 2000px);
      max-height: 90%;
      background-color: var(--color-white);
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
      background: rgba(255, 255, 255, 0.15);
      border: 1px solid var(--color-gold);
      display: flex;
      flex-direction: column;
      overflow: hidden;
      @media (max-width: 560px) {
        width: clamp(290px, 90vw, 2000px);
        height: 90vh;
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
        z-index: -1;
    }
    .ModalTop{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        min-height: 120px;
        border-radius: 10px 10px 0 0;
        background-position-y: 60%;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('../../assets/images/king-palace/mainBg.png');
        filter: sepia(0.7);
        border-bottom: 1px solid var(--color-gold);
        .closeBtn{
            position: absolute;
            top: 10px;
            right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--color-white);
            border-radius: 50%;
            border: 1px solid var(--color-white);
            cursor: pointer;
        }
    }
    .ModalContent{
        width: 100%;
        height: 100%;
        display: flex;
        padding: 20px clamp(5px, 4vw, 40px);
        justify-content: center;
        align-items: center;
        &::before{
            content: '';
            position: absolute;
            top: 10%;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('../../assets/images/transparentLogo.png');
            background-repeat: no-repeat;
            background-position: center;
            background-blend-mode: luminosity;
            background-size: clamp(150px, 85%, 400px);
            z-index: -1;
            opacity: 0.1;
        }
        .section{
            width: 100%;
            overflow-y: scroll;
            max-height: calc(100vh - 200px);
            @media (max-width: 550px) {
              max-height: fit-content;
            }
            .ChoiceEnter{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                .item{
                    border-bottom: 2px solid transparent;
                    padding: 15px;
                }
                button{
                    @include text(var(--color-white), clamp(12px, 2vw, 18px), unset, 600);

                }
                .itemActive{
                    border-bottom: 2px solid var(--color-gold);
                    button{
                        color: var(--color-gold);

                    }
                }

            }
            .typeEnter{
                display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            gap: 20px;
            }
            .input{
                width: clamp(280px, 100%, 800px);
                position: relative;
                @include text(var(--color-gold), clamp(12px, 2vw, 18px), unset, 600);
                .passwordInput::placeholder{
                    color: transparent;
                }
                .passwordPlaceholder{
                    // content: '••••••••';
                    position: absolute;
                    color: var(--color-white);
                    pointer-events: none;
                    left: 10px;
                    top: 50%;
                    // transform: translateY(-20%);
                }
            }
            input{
                display: flex;
                align-items: center;
                justify-content: center;
                width: clamp(280px, 100%, 800px);
                margin: 0 auto;
                height: 50px;
                margin-top: 5px;
                padding: 0 10px;
                border: 1px solid var(--color-gold);
                border-radius: 4px;
                background: rgba(255, 255, 255, 0.35);
                @include text(var(--color-white), clamp(12px, 2vw, 18px), unset, 600);
                &:focus{
                    outline: none;
                }
                &::placeholder{
                    @include text(var(--color-white), clamp(12px, 2vw, 18px), unset, 400);
                }
            }
            .buttonGroup{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 20px 0 30px;
                gap: 20px;
                button{
                    background: rgba(0, 0, 0, 0.35) !important;
                    border: 1px solid var(--color-gold) !important;
                    span{
                        font-weight: 700 !important;
                    }
                    @media screen and (min-width: 1024px) {
                      &:hover{
                        background: rgba(255,255,255, 0.35) !important;
                      }
                    }
                    

                }
            }
        }
    }
    }
}